<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Micropublish<% if @title %>: <%= @title %><% end %></title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/micropublish.css">
    <% if request.path_info.match '\/article$' %>
      <link rel="stylesheet" href="/css/trix.css">
      <script src="/scripts/trix.js"></script>
    <% end %>
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>

    <header>
      <h1 class="container h-app">
        <a class="p-name" href="/">
          Micropublish
        </a>
      </h1>
    </header>

    <main class="container">
<%= flash_message %>
<%= yield %>
    </main>

    <footer>
      <div class="container">
        <% if logged_in? %>
          <form action="/logout" method="post" class="form-inline logout">
            <p>
              <code><%= session[:me] %></code>&nbsp;
              <code title="scope"><%= session[:scope] %></code>&nbsp;
              <button class="btn btn-xs" type="submit">
                Sign out
              </button>
            </p>
          </form>
        <% end %>
        <a href="/about">About</a>
        &middot;
        <a href="/changelog">Changelog</a>
      </div>
    </footer>

    <script src="/scripts/twitter-text.js"></script>
    <script src="/scripts/micropublish.js"></script>
  </body>
</html>
